fastapi
uvicorn
numpy
scikit-learn==1.3.2
pandas
nltk
python-multipart
sentence-transformers
torch
spacy>=3.7.0
PyPDF2
python-docx
cohere
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz